.DS_Store
*.swp
coverage/
node_modules/
.yarn.lock
package-lock.json
dist/
.firebaserc
.github/workflows/firebase-hosting-merge.yml
.github/workflows/firebase-hosting-pull-request.yml
database.rules.json
firebase.json
firestore.indexes.json
firestore.rules
public/index.html
y