*{
    margin:0;
}

#div-logo{
    height: 90px;
    background-color: #ffffff;
    background-image: url('../imgs/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#div-menu{
    background-color: #0bc04b;
    margin: 0;
    height: 70px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#img-post{
    width: 60px;
    height: 60px;
    align-self: center;
    justify-self: end;
    background-color: #F7CAE4;
    padding: 1px;
    border-radius: 15px;
    margin: 5px;

}

#logout{
    width: 43px;
    height: 45px;
    align-self: center;
    background-color: #F7CAE4;
    padding: 8px;
    border-radius: 15%;
    margin: 5px;
}

#div-posts{
    width: 100%;
    object-fit: contain;
}

#ul-card{
    list-style:none;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 1%;
}

#li-card{
    width: 400px;
    margin: 0 10%;
    object-fit: contain;
    height: 330px;
    border-radius: 5%;
    background-color: #F7CAE4;
}

#div-description{
    border-radius: 5% 5% 0 0;
    height: 85px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20% 80%;
}

#email-user{
    font-weight: bolder;
    padding: 3%;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}

#description-post{
    padding: 2%;
    font-size: 16px;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
    margin-top: 0;
    align-self: start;
}

#edit-posts{
    width: 18px;
    height: 18px;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    justify-self: end;
    margin: 5% 10%;
}

#img-post-user{
    width: 100%;
    object-fit: contain;
    margin: 0;
}

#div-actions{
    height: 45px;
    display: grid;
    grid-template-columns: 50% 50%;
}

#img-heart{
    width: 34px;
    margin: 2% 0 0 8%;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

#counter{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    margin: 7% 0 0 14%;
    height: 34px;
    font-size: 13px;
    font-weight: bold;
}


#img-delete{
    width: 34px;
    margin: 2% 8% 0 0;
    justify-self: end;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}


@media screen and (max-width: 520px) {
    #li-card{
        height: 340px;
    }
    #div-description{
        margin-bottom: 2%;
    }
  }

  @media screen and (min-width: 520px) {
    #li-card{
        height: 370px;
        width: 340px;
    }
    #counter{
        margin: 8% 0 0 15%;
  }
  }

  @media screen and (max-width: 420px) {
    #li-card{
        height: 370px;
    }
    #counter{
        margin: 9% 0 0 15%;
    }
  }

 @media screen and (max-width: 375px) {
    #li-card{
        height: 340px;
    }
    #counter{
        margin: 10% 0 0 17%;
  }
  } 

  @media screen and (min-width: 720px) {
    #li-card{
        height: 380px;
    }
    #div-description{
        margin: 2%;
    }
    #div-logo{
        height: 60px;
    }
  }
  @media screen and (min-width: 1040px){
    #div-menu{
        height: 50px;
    }
    #img-post{
        width: 40px;
        height: 40px;
        border-radius: 5px;
        margin: 0 5px;
    
    }
    #logout{
        width: 30px;
        height: 30px;
        padding: 6px;
        margin: 0 5px;
    }

  }