*{
    
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    
  }

.input-user-register, .input-pwd-register , .input-pwd-confirm , .input-date  {

    border-radius: 10px;
    height: 37px;
    width: 80%;
    background-color: white;
    border-color: #0bc04b;
    text-align: center;
    font-size: 20px;
    margin: 5%;


}

.register-button-1 {
    border-radius: 15px;
  border: none;
  height: 37px;
  width: 70%;
  background-color: #f6ca3b;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0 5px rgba(0, 0, 0, 0.5);
  padding: 2.2%;
  margin: 5% 10%;
  
}

#root {
  height: 80%;  
}

@media (min-width: 720px) {
  
    .input-user-register, .input-pwd-register , .input-pwd-confirm , .input-date{
        margin: 1% 10% 1% 10%;
    }    
    .register-button-1 {
        /*margin: 1% 20% 1% 10%;*/
        
    }

    .form-register {
        display:grid;
        grid-template-rows: 10% 10% 10% 10% 10% ;
        align-self: center;
    }
}