*{
    margin:0;
    font-family: 'Josefin Slab', serif;
}

header{
    width: 100%;
    height: 130px;
    background-image: url('./imgs/header.jpg') ;
    background-size: cover;
    margin: 0 0 15% 0;
}

#root{
    overflow-x: hidden;
    overflow-y: hidden;
}
body{
    background-image: url('./imgs/background.jpg');
    background-size: cover;
}

footer{
    background-color: #0BC04B;
    color: beige;
    height: 50px;
    font-family: sans-serif;
    margin: 20% 0 0 0;
    width: 100%;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 412px) {
    footer{ 
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0;
    }
  }
/* Estilo de formulario login */
form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.input-user, .input-pwd{
    border-radius: 10px;
    height: 37px;
    width: 80%;
    background-color: white;
    border-color: #0BC04B ;
   
}

.input-user{
    margin: 4% 8%;
}

.input-pwd{
    margin: 1% 8% ;
}

::placeholder{
    color: #0BC04B;
    text-align: center;
    font-size: 18px;
}

.login-button, .register-button{
    border-radius: 15px;
    border: none;
    height: 37px;
    width: 70%;
    background-color: #F6CA3B;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 5px rgba(0, 0, 0, 0.5);
    
}

.login-button{
    margin: 5% 13%;
}

.register-button{
    margin: 15% 18% 0;
}

.img-logo{
    width: 100%;
    margin-top:9%;

}

.h2-slogan{
    text-align: center;
    font-size: 40px;
}

.google-register-button{
    border-radius: 15px;
    border: none;
    height: 37px;
    width: 70%;
    background-color: white;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 5px rgba(0, 0, 0, 0.5);
    margin: 5% 18%;
}